.weather-container {
  margin: 50px auto;
  max-width: 800px;
  text-align: center;
  font-size: 1.2rem;
}

.weather-container h1, .weather-container h2 {
  margin: 20px 0;
}

.weather-current {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.weather-current img {
  height: 150px;
  margin-right: 40px;
}

.weather-description {
  text-align: left;
}

.weather-description h3 {
  margin: 0;
  font-size: 2rem; 
}

.weather-description p {
  margin: 10px 0;
  font-size: 1.2rem; 
}

.weather-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weather-forecast-item {
  width: 30%;
  margin-bottom: 30px;
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
}

.weather-forecast-item p {
  margin: 0;
  font-size: 1.2rem; 
}

.weather-forecast-item img {
  height: 70px;
  margin-bottom: 20px;
}

.weather-forecast-description {
  text-align: left;
}

.weather-forecast-description p {
  margin: 10px 0;
  font-size: 1.2rem; 
}
